.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #555;
    background-color: #FFF;
    overflow: scroll;
    scrollbar-width: none;
    background-color: rgb(239, 239, 255);
    animation: open 0.5s ease forwards;
}

.header{
    font-size: 150%;
    font-weight: 600;
    margin: 10px;
}

.head{
    color: #00F;
    font-weight: 600;
    font-size: 200%;
    margin: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table{
    font-size: 120%;
    border-spacing: 0px;
}

th{
    background-color: #00F;
    color: #FFF;
}

tr:nth-child(odd){
    background-color: #EEE;
}

td{
    text-align: center;
}

.closebtn{
    align-self: flex-end;
}

.closebtn:hover{
    cursor: pointer;
}

.centum{
    color: rgb(0, 167, 0);
    font-weight: 600;
}

@keyframes open{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}